Options -Indexes

# Block direct access to .csv and .php files (except import.php)
#
<FilesMatch "\.(csv|php)$">
    Require all denied
</FilesMatch>

# When the .php file is import.php, allow it anyways.
<Files "import.php">
    Satisfy Any
    Allow from all
</Files>

# When the .php file is api.php, allow it anyways.
<Files "api.php">
    Satisfy Any
    Allow from all
</Files>

# Disable caching, indexing and archiving of JSON-files via HTTP-headers
<FilesMatch "\.json$">
    Header set X-Robots-Tag "noindex, noarchive, nofollow, noimageindex, nosnippet"
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
</FilesMatch>

<IfModule mod_rewrite.c>

	# Enable Apache RewriteEngine (if module is available)
	#
	Options +FollowSymlinks
	RewriteEngine On

	# Rewrite /(.*/|)import to import.php
	#
	RewriteRule ^(.*/|)import/?$ import.php [L]

	# Rewrite /(.*/|)<dataType>.json to /api.php?_fetch=<dataType>
	# This rule handles URL's that ends on .json, then captures the name of the 'file' and
	# passes it onto variable _fetch using $2, when redirecting to api.php.
	#
	# For example:
	#  - When standen.json is called, the URL will be redirected to api.php?_fetch=standen
	#  - When teams.json is called, the URL will be redirected to api.php?_fetch=teams
	#  - When uitslagen.json is called, the URL will be redirected to api.php?_fetch=uitslagen
	#  - When wedstrijden.json is called, the URL will be redirected to api.php?_fetch=wedstrijden
	# and so on.
	#
	RewriteRule ^(.*/|)(.*).json$ api.php?_fetch=$2 [QSA,NC,L]

</IfModule>